<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Them moi khach hang</h1>
<form th:action="@{/create}" method="post" th:object="${customer}">
<table>
  <tr>
    <th>Name</th>
    <td><input type="text" th:field="*{name}"/></td>
  </tr>
  <tr>
    <th>Age</th>
    <td><input type="number" th:field="*{age}"/></td>
  </tr>
    <tr>
        <th>Country</th>
        <td><select th:field="*{country}">
            <option th:each="c:${countries}" th:value="${c.id}" th:text="${c.name}"></option>
        </select></td>
    </tr>
  <button type="submit">Create</button>
</table>
</form>
</body>
</html>